#    Copyright CodeMerx 2020
#    This file is part of CodemerxDecompile.

#    CodemerxDecompile is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.

#    CodemerxDecompile is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#    GNU Affero General Public License for more details.

#    You should have received a copy of the GNU Affero General Public License
#    along with CodemerxDecompile.  If not, see<https://www.gnu.org/licenses/>.

name: Build in Release

on:
  workflow_dispatch:
    inputs:
      branchName:
        description: 'Branch'
        required: false
        default: 'master'
  push:
    branches:
      - github.event.inputs.branchName

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1

    - name: Restore SNK
      uses: RollyPeres/base64-to-path@v1
      with:
        filePath: ${{ github.workspace }}/common/CDKey.snk
        encodedString: ${{ secrets.CD_SNK }}

    - name: Build Solution
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.400'
      run: dotnet build engine/CodemerxDecompileEngine.sln -c Release

    - name: Run Tests
      run: dotnet test engine/Decompiler.Tests -c Release